.page {
    background: #181A20;
}

.container {
    max-width: 1024px;
}

.header {
    background: #1F222A;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

}