* {
    font-family: 'Nunito', sans-serif !important;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

.page {
    background: #181A20;
    min-height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.container {
    max-width: 1024px;
    width: 100%;
}

.header {
    background: #1F222A;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.logo img {
    width: 48px;
    height: 48px;
}

.logo p {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}

/* .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
} */

.buttons {
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 100px;
    height: 56px;
}

.login {
    /* background: #35383F; */
    background: transparent;
}

.signup {
    background: #00CDBD;
}

.buttons:hover {
    background: #35383F;
    transition: .5s;
}

.title {
    text-align: center;
}

.title h1 {
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 10%;
    margin-bottom: 180px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bots {
    background: #181A20;
    border: 1px solid #11B1A5;
    border-radius: 16px;
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 32px;
    padding: 24px;
}

.bots .conversations {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.bots .chats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    max-height: 50vh;
    overflow-y: auto;
}

.convo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 16px;
    width: 334px;
    height: 84px;
    background: #1F222A;
    border-radius: 16px;
}

.convo.active {
    border: 1px solid #11B1A5;
}

.convo .avatar {
    width: 64px;
    height: 64px;
    background: #181A20;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 36px;
    height: 36px;
}

.convo .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 238px;
    height: 50px;
}

.text .name {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.text .desc {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.engage {
    width: 100%;
    flex: 1;
}

.engage .input {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.engage .input input {
    flex: 1;
    background: #35383F;
    border: 1px solid #11B1A5;
    border-radius: 10px;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.engage .input .send {
    width: 56px;
    height: 56px;
    background: #11B1A5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chats {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 16px;
}

.chats .chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    color: #fff;
    width: 100%;
}

.chats .chat.local {
    align-items: flex-end;
}


.chats .chat p {
    background: #35383F;
    border-radius: 8px 20px 20px 16px;
    padding: 12px 20px;
    margin: 0;
}

.chats .chat.local p {
    background: #11B1A5;
    border-radius: 20px 8px 16px 20px;
}

.bg-theme {
    background: #11B1A5;
}

.iconify {
    width: 64px;
    height: 64px
}

button {
    border: none;
}

.bg-default {
    background: #181A20;
}